
 .postTextBoxWrapper {
    width: 100%;
    text-align: top;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
}

.textBoxContainer {
    text-align: left;
    max-width: 600px;
    padding-bottom: 20px ;
}

.postTextBoxWrapper::placeholder {
    position: absolute;
    top: 0;
}

.textBoxControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 


@media screen and (min-width: 500px) {
    .postTextBoxWrapper{
        height: 100px;
    }

    .textBoxContainer{
        margin: 0 auto;
    }
}