#userCardWrapper {
    text-align: center;
    height: 500px;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

#userCardProfilePictureWrapper {
    width: 50%;
    min-width: 50px;
    max-width: 200px;
    height: 145px;
}

#userNameWrapper {
    width: 50%;
    text-align: center;
    margin: 5% auto;
}

#editBioWrapper {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}


#editProfilePicture{
    width: 100%;

}

.editProfilePictureInput>label{
    border: 1px solid white;
    background-color: black;
    color: white;
}

.editProfilePictureInput>label:active {
    background-color: lightgray;
    color: white;
}
